<section class="relative  md:h-[367px] mt-[88px] md:mt-[200px] custom-container">
    <div class="pt-[25px] md:pt-[29px] relative z-[10]">
        <div class=" w-full md:h-[338px] flex flex-col md:flex-row gap-[36px] md:gap-0 md:justify-between  bg-white px-[24px] md:px-[60px] py-[36px] md:py-[13px] rounded-[22px] border border-primary ">
            <div>
                <h3 class="md:mt-[48px] text-[32px] md:text-[36px] text-center md:text-start leading-[40px] md:leading-[44px] text-text-black dark:text-text-dark-black font-[600]">Virtual ofis yarat</h3>
                <p class="md:w-[50%] mt-[20px] leading-[24px] text-text-gray">Fiziki məkan məhdudiyyətlərini aradan qaldırın, işinizi dünyanın hər yerindən peşəkar şəkildə idarə edin və komandalarla rahat əlaqə saxlayın.</p>
                <div class="mt-[36px] md:mt-[40px] md:flex">
                    <a href="#" class=" bg-primary gap-[8px] h-[48px] md:h-[52px] rounded-[48px] flex items-center text-center justify-center md:px-[24px]">
                        <span class="text-[20px] md:text-[16px] font-[500] text-text-white stroke-text-white">Virtual ofis yarat</span>
                    </a>
                </div>
            </div>
            <div>
                <img class="w-full md:w-[379px] h-[200px] md:h-full object-cover object-center" src="https://s3-alpha-sig.figma.com/img/7f12/ea13/00756f144a0fb5daaf68dbfc01103a46?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=jHNOGXw0IOuCwpAU2G5LuooDw7hr80JlQf4b9P9IFfWtk~raDTh4vKtoRU-~dqMnlKSCWGwkC-quZBvB-62X1AehdA5onllOcKqs5rzZbc1PgWHRMaH8SzH163B39~ZwYWQgXCaVV1E-KD~51~~TyPgXOx37eaYdV8u3umXFw2zUwugJIt6IQcG06dwifxnJnqcUL~TF6o1fTE-e5fUy9lojqhz0w-zaxRYPlNFjSn8dEAWP~vHDLlLbQzRRqffcL5LS6ZyJDdM-3Tyc7r6wjQzlikG7lL34tiJ7BMdWphToCgc~oYd8bjFqw7fost6Ya4EJTG51gfGh0UJf1Rfs1A__" alt="">
            </div>
        </div>
    </div>
    
    <div class="absolute left-0 top-0 -z-0 w-full h-[304px] px-[50px]">
        <div class="w-full h-full rounded-[22px] bg-primary"></div>
    </div>
</section>