{% extends "layouts/default/index.html" %}
{% load static %}

{% block main %}

{% include "pages/home/components/sections/Hero.html" %}

{% include "pages/home/components/sections/Partners.html" %}

{% include "pages/home/components/sections/Freelancers.html" %}

{% include "pages/home/components/sections/HowWork.html" %}

{% include "pages/home/components/sections/Categories.html" %}

{% include "pages/home/components/sections/Statistics.html" %}

{% include "pages/home/components/sections/VirtualOffices.html" %}

{% include "pages/home/components/sections/CustomerComments.html" %}   

{% endblock main %}


