<div class="flex gap-[16px] items-center">
    <a class="w-[40px] h-[40px] rounded-full hover:bg-primary-hover grid place-items-center" href="#" >
        {% include "components/ui/icons/AxesLeft.html" %}
    </a>
    <div class="flex gap-[4px]">
        <a class="w-[40px] h-[40px] rounded-full hover:bg-primary-hover hover:text-text-white grid place-items-center" href="#" >1</a>
        <a class="w-[40px] h-[40px] rounded-full hover:bg-primary-hover hover:text-text-white grid place-items-center" href="#" >2</a>
        <a class="w-[40px] h-[40px] rounded-full bg-primary hover:bg-primary-hover text-text-white grid place-items-center" href="#" >3</a>
        <a class="w-[40px] h-[40px] rounded-full hover:bg-primary-hover hover:text-text-white grid place-items-center" href="#" >4</a>
        <a class="w-[40px] h-[40px] rounded-full hover:bg-primary-hover hover:text-text-white grid place-items-center" href="#" >5</a>
    </div>
    <a class="w-[40px] h-[40px] rounded-full hover:bg-primary-hover grid place-items-center" href="#" >
        {% include "components/ui/icons/AxesRight.html" %}
    </a>
</div>