<style>
    .categorySwipper .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background-color: #898989; /* Change this to your desired color */
        opacity: 1; /* Set the opacity to make sure the color is visible */
    }

    .categorySwipper .swiper-pagination-bullet-active {
        width: 12px;
        height: 12px;
        background-color: #F5AB20; /* Change the color for the active dot */
    }
</style>
<section class="mt-[88px] md:mt-[200px] custom-container">
    <div class="hidden md:block">
        <div class="flex items-center justify-between">
            <h3 class="text-[36px] leading-[44px] text-text-black dark:text-text-dark-black font-[600]">Kateqoriya</h3>
            <a class="flex items-center gap-[8px] font-[500] md:text-[20px] stroke-text-black text-text-black dark:text-text-dark-black " href="">
                <span>Bütün kateqoriyalar</span>
                {% include "components/ui/icons/AxesTopRight.html" with color="text-black" %}
            </a>
        </div>
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-[24px] mt-[64px]">
            {% for category in freelancer_categories %}
                {% include "pages/home/components/common/category/Category.html" with category=category %}
            {% endfor %}
        </div>
    </div>
    <div class="md:hidden">
        <div>
            <h3 class="text-[24px] leading-[32px] text-text-black dark:text-text-dark-black font-[600]">Kateqoriya</h3>
            <div class="flex justify-end mt-[36px]">
                <a class="flex items-center gap-[8px] font-[500] md:text-[20px] stroke-text-black text-text-black dark:text-text-dark-black " href="">
                    <span>Bütün kateqoriyalar</span>
                    {% include "components/ui/icons/AxesTopRight.html" with color="text-black" %}
                </a>
            </div>
        </div>
        <div class="swiper categorySwipper mt-[24px]">
            <div class="swiper-wrapper mb-[60px]">
            {% for category in freelancer_categories %}
                <div class="swiper-slide">
                    {% include "pages/home/components/common/category/Category.html" with category=category %}
                </div>  
            {% endfor %}
            </div>
            <div class="swiper-pagination flex items-center justify-center"></div>
        </div>
    </div>
</section>

<script>
    var swiper = new Swiper(".categorySwipper", {
      slidesPerView: 1,
      spaceBetween: 10,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      breakpoints: {
        492: {
            slidesPerView: 1.5,
            spaceBetween: 20,
          },
        640: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 2.5,
          spaceBetween: 30,
        },
        1024: {
          slidesPerView: 4,
          spaceBetween: 50,
        },
      },
    });
  </script>
