{% load static %}
<section class="custom-container h-[calc(100vh-87px)] lg:h-[calc(100vh-165px)] mt-[87px] md:mt-0 grid md:grid-cols-2 gap-[40px] md:gap-[128px]">
    <div class="flex w-full items-center">
        <div class="w-full">
            <h2 class="text-[24px] md:text-[48px]  font-[600] leading:[32px] md:leading-[56px] text-text-black dark:text-text-dark-black">{{hero_section.title}}</h2>
            <p class="text-[12px] md:text-[22px] font-[400] mt-[12px] md:mt-[20px] leading-[16px] md:leading-[36px] text-text-gray dark:text-text-dark-black">{{hero_section.description}}</p>
            <div class="mt-[47px] md:flex">
                {% include "components/ui/buttons/BeFreelancerBtn.html" %}
            </div>
        </div>
    </div>
    <div class="flex items-center">
        <img class="" src="{{hero_section.image.url}}" alt="Hero">
    </div>
</section>


