<section class="mt-[100px]">
    <div class=" bg-primary flex items-center h-[48px] md:h-[64px] overflow-hidden">
        <div class="flex h-full items-center gap-[24px] md:gap-[160px] animate-marquee  whitespace-nowrap">
            {% for partner in partners %}
                <img class="h-[24px] md:h-[32px]" src="{{partner.logo.url}}" alt="">
            {% endfor %}
            {% for partner in partners %}
                <img class="h-[24px] md:h-[32px]" src="{{partner.logo.url}}" alt="">
            {% endfor %}
            {% for partner in partners %}
                <img class="h-[24px] md:h-[32px]" src="{{partner.logo.url}}" alt="">
            {% endfor %}
            {% for partner in partners %}
                <img class="h-[24px] md:h-[32px]" src="{{partner.logo.url}}" alt="">
            {% endfor %}
            {% for partner in partners %}
                <img class="h-[24px] md:h-[32px]" src="{{partner.logo.url}}" alt="">
            {% endfor %}
            {% for partner in partners %}
                <img class="h-[24px] md:h-[32px]" src="{{partner.logo.url}}" alt="">
            {% endfor %}
            {% for partner in partners %}
                <img class="h-[24px] md:h-[32px]" src="{{partner.logo.url}}" alt="">
            {% endfor %}
          </div>    
    </div>
</section> 