<div class="bg-secondary dark:bg-secondary-dark border border-[#DDDDDD] h-[348px] md:h-[392px] rounded-[20px] px-[24px] py-[32px]">
    <div class="flex w-full justify-between gap-[48px]">
        <div class="flex flex-col gap-[4px] w-[75%]">
            <h3 class="text-[16px] md:text-[20px] font-[600] leading-[28px] text-text-black dark:text-text-dark-black">{{category.name}}</h3>
            <p class="text-[12px] md:text-[14px] leading-[16px] md:leading-[20px] text-text-gray dark:text-text-dark-black">{{category.small_description}}</p>
        </div>
        <a class="cursor-pointer w-[40px] h-[40px] border border-primary stroke-primary rounded-full bg-[#FCEDD0] hover:bg-background-hover grid place-items-center">
            {% include "components/ui/icons/AxesTopRight.html" with color="primary" %}
        </a>
    </div>
    <p class="mt-[16px] md:mt-[24px] text-[20px] font-[500] text-text-black dark:text-text-dark-black">1853 üzv</p> 
    <div class="mt-[32px]  grid place-items-center flex-grow">
        <img class="w-[164px] h-[164px]" src="{{category.file.url}}" alt="{{category.name}}">
    </div>
</div>
{% comment %} <div class="relative h-[120px] w-full mt-[6px] px-[8px]">
    <div class="h-full w-full grid place-items-center rounded-[20px] bg-primary">
        <h3 class="text-[20px] font-[500]">{{category.name}}</h3>
    </div>
    <div class="absolute top-[72px] left-[22px] w-[96px] h-[96px] border-[4.5px] border-[#FEE86E] rounded-full bg-white grid place-items-center">
        <img src="{{category.file.url}}" alt="{{category.name}}">
    </div>
</div>
<p class="mt-[92px] px-[30px] text-center text-[19px] font-[500] leading-[22px] text-white">{{category.small_description}}</p>
<p class="mt-[17px] text-[16px] text-center font-[700] text-white">1853 üzv</p> {% endcomment %}