{% load star_rating %}

<div class="rounded-[12px] bg-white p-[16px] border border-borderDefault flex gap-[32px]">
    <div class="">
        <img class="rounded-full w-[150px] h-[150px] object-cover" src="https://s3-alpha-sig.figma.com/img/554e/9d72/ec3b3e4bffd6dc083912591974154c31?Expires=1728864000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=OgKCeMhgp9RbvRjYV2GTEQenZHz3wjkc~yq9vG4bCvcIYllUi9KIi6EAt3wwHuKXME~o-JiIrqVJeVu6MPELDsJ~8CQRvGjtW7O07JNqxq4W-yYLdTH7SpUbjKpaPTXa97Ra1YfL1kpAx5xbV9fzmvodXgQ2bm0l8JtQzgOujE3BVFj~tfSgPtgZEPcbI1ljEzZA7OcYnK7Ipx6M5SBoDqrTnhTUOwzARKR~q-B9rlzAhQZBr0kMKbnqPzINuBX4bSkfMs6c96e4idz26kK2yTe~092nCMuyxVbGjCSkCccvOeRT5Vz-f-DXWs~TkqSKVhC~iPD-Y4XIKxouDi7i5Q__" alt="">
    </div>
    <div class="p-[12px] flex flex-col">
        <h2 class="text-[20px] font-[500] text-text-bl">Nicat Məmmədov</h2>
        <p class="mt-[4px] font-[500] text-text-black">UI-UX Design Expart</p>
        <div class="mt-[8px] flex gap-[9px]">
            {% rating rating=4 total=5 font_size=16 %}
        </div>
        <div class="flex flex-grow items-end gap-[12px]">
            <div class="rounded-[22px] text-white p-[8px] text-[12px] font-[500] bg-[#3F3F3F]">Figma</div>
            <div class="rounded-[22px] text-white p-[8px] text-[12px] font-[500] bg-[#3F3F3F]">Balsamiq</div>
            <div class="rounded-[22px] text-white p-[8px] text-[12px] font-[500] bg-[#3F3F3F]">Hotjar</div>
            <div class="rounded-[22px] text-white p-[8px] text-[12px] font-[500] bg-[#3F3F3F]">Notion</div>
        </div>
    </div>
</div>