{% load star_rating %}
{% load static %}

<div class="rounded-[12px] bg-white p-[16px] border border-borderDefault flex gap-[32px]">
    <div class="">
        <img class="rounded-full w-[150px] h-[150px] object-cover" src="{% static "images/grid.png" %}" alt="">
    </div>
    <div class="p-[12px] flex flex-col">
        <h2 class="text-[20px] font-[500] text-text-bl">Nicat Məmmədov</h2>
        <p class="mt-[4px] font-[500] text-text-black">UI-UX Design Expart</p>
        <div class="mt-[8px] flex gap-[9px]">
            {% rating rating=4 total=5 font_size=16 %}
        </div>
        <div class="flex flex-grow items-end gap-[12px]">
            <div class="rounded-[22px] text-white p-[8px] text-[12px] font-[500] bg-[#3F3F3F]">Figma</div>
            <div class="rounded-[22px] text-white p-[8px] text-[12px] font-[500] bg-[#3F3F3F]">Balsamiq</div>
            <div class="rounded-[22px] text-white p-[8px] text-[12px] font-[500] bg-[#3F3F3F]">Hotjar</div>
            <div class="rounded-[22px] text-white p-[8px] text-[12px] font-[500] bg-[#3F3F3F]">Notion</div>
        </div>
    </div>
</div>