{% load nav_links %}

    <div class="custom-container lg:hidden fixed top-0 w-full bg-secondary h-[60px] flex items-center justify-between z-[1000]">
      <div class="flex items-center gap-[12px]">
        <button id="menu-btn" class="relative h-8 w-8 focus:outline-none">
          <!-- Hamburger Icon -->
          <svg id="hamburger-icon" class="absolute inset-0 h-8 w-8 transition-all duration-300 ease-in-out transform"  width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 12H21M3 6H21M3 18H21" stroke="#212121" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
            
          <!-- Close Icon -->
          <svg id="close-icon" class="absolute inset-0 h-8 w-8 transition-all duration-300 ease-in-out transform scale-0"  width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.3428 10.3438L21.6565 21.6575" stroke="#141313" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10.3435 21.6575L21.6572 10.3438" stroke="#141313" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <!-- Hamburger Icon -->
          {% comment %} <svg xmlns="http://www.w3.org/2000/svg" class="absolute inset-0 h-8 w-8 transition-all duration-300 ease-in-out transform" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <!-- Close Icon -->
          <svgxmlns="http://www.w3.org/2000/svg" class="absolute inset-0 h-8 w-8 transition-all duration-300 ease-in-out transform scale-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>   {% endcomment %}
            
        </button>
        <div>
          <img src="{{settings.logo.url}}" alt="Logo" class="w-[140px]">
        </div>
      </div>
      <div class="flex items-center gap-[17px]">
        <button class="grid place-items-center w-[24px] h-[24px] rounded-full bg-background">
          {% include "components/ui/icons/Search.html" with width="20" height="20" %}
        </button>
        <a href="{% url "home" %}">
          {% include "components/ui/icons/Account.html" %}
        </a>
      </div>
    </div>
    
    <!-- Mobile Menu (Initially hidden) -->
    <nav id="mobile-menu" class="lg:hidden  bg-secondary w-[55%] h-screen fixed top-[60px] ml-[-100%]  transition-all ease-in-out z-50">
      <ul class="space-y-[16px] mt-[29px]">
        <!-- Active link with dot -->
        <li class="relative hover-underline text-center">
          <a href="{% url "home" %}" class="relative {% active_link 'home' %}">Ana səhifə</a>
        </li>
        <!-- Other links with hover underline -->
        <li class="relative hover-underline text-center">
          <a href="{% url "about" %}" class="relative {% active_link 'about' %}">Haqqımızda</a>
        </li>
        <li class="relative hover-underline text-center">
          <a href="{% url "virtual-offices" %}" class="relative {% active_link 'virtual-offices' %}">Virtual ofislar</a>
        </li>
        <li class="relative hover-underline text-center">
          <a href="{% url "freelancer" %}" class="relative {% active_link 'freelancer' %}">Frilanserlər</a>
        </li>
        <li class="relative hover-underline text-center">
          <a href="{% url "packages" %}" class="relative {% active_link 'packages' %}">Paketlər</a>
        </li>
        <li class="relative hover-underline text-center">
          <a href="{% url "blog" %}" class="relative {% active_link 'blog' %}">Bloq</a>
        </li>
        <li class="relative hover-underline text-center">
          <a href="{% url "contact" %}" class="relative {% active_link 'contact' %}">Əlaqə</a>
        </li>
      </ul>
      <div class="mx-[15px] mt-[48px] border-t border-borderDefault">
        <button class="theme-toggle mt-[17px]">
            <div class="sun-icon flex items-center gap-[8px]">
                {% include "components/ui/icons/Sun.html" %}
                <span class="text-[12px] text-text-black">İşıq modu</span>
            </div>
            <div class="moon-icon flex items-center gap-[8px] ">
                {% include "components/ui/icons/Moon.html" %}
                <span class="text-[12px] text-text-black">Qaranlıq mod</span>
              </div>
        </button>
        <div class="mt-[16px] grid grid-cols-3 gap-[8px]">
          <a href="" class="h-[23px] flex items-center justify-center rounded-[8px] text-[10px] text-primary border border-primary text-center">Aze</a>
          <a href="" class="h-[23px] flex items-center justify-center rounded-[8px] text-[10px] text-text-disabled border border-text-disabled text-center">Eng</a>
          <a href="" class="h-[23px] flex items-center justify-center rounded-[8px] text-[10px] text-text-disabled border border-text-disabled text-center">Rus</a>
        </div>
      </div>
    </nav>
    
    <div id="background-overlay" class="md:hidden h-screen fixed w-[45%] top-[60px]  right-0  transition-all ease-in-out"></div>
  
  </header>
  
  <script>
    const menuBtn = document.getElementById('menu-btn');
    const closeIcon = document.getElementById('close-icon');
    const hamburgerIcon = document.getElementById('hamburger-icon');
    const mobileMenu = document.getElementById('mobile-menu');
    const backgroundOverlay = document.getElementById('background-overlay');
  
    menuBtn.addEventListener('click', (e) => {
      // Prevent the event from bubbling up to the document
      e.stopPropagation();
  
      // Toggle visibility of the icons
      hamburgerIcon.classList.toggle('scale-0');
      closeIcon.classList.toggle('scale-0');
      mobileMenu.classList.toggle('ml-[-100%]');
      backgroundOverlay.classList.toggle('bg-opacity-20');
      backgroundOverlay.classList.toggle('bg-black');
      backgroundOverlay.classList.toggle('z-[10]');
    });
  
    // Close the menu when clicked outside of it
    document.addEventListener('click', (e) => {
      const isClickInsideMenu = backgroundOverlay.contains(e.target);
      if (isClickInsideMenu) {
        if (hamburgerIcon.classList.contains('scale-0')){
          hamburgerIcon.classList.toggle('scale-0');
          closeIcon.classList.toggle('scale-0');
          mobileMenu.classList.toggle('ml-[-100%]');    
          backgroundOverlay.classList.toggle('bg-opacity-20');
          backgroundOverlay.classList.toggle('bg-black');
          backgroundOverlay.classList.toggle('z-[10]');
        }
      }
    });
  </script>
  