<section class="custom-container mt-[88px] md:mt-[200px]">
    <h3 class="text-[32px] md:text-[56px] font-[600] text-text-black dark:text-text-dark-black leading-[44px] md:leading-[72px] md:w-[70%]">Peşəkar Xidmət
        Task <span class="text-primary">Frieslə</span>
        sizə daha yaxın..
    </h3>
    <div class="mt-[48px] md:mt-[72px] grid items-center md:grid-cols-2 gap-[48px] md:gap-[70px]">
        <div class="space-y-[32px] md:space-y-0 flex h-full flex-col justify-between">
            <div class="flex justify-start">
                <div class="bg-primary rounded-[12px] py-[8px] md:py-[24px] px-[20px] md:px-[32px] flex items-center gap-[12px]">
                    {% include "components/ui/icons/Checkmark.html" %}
                    <span class="md:text-[32px] leading-[40px] font-[600] tracking-wider text-text-white ">100% Güvənilir</span>
                </div>
            </div>
            <div class="flex justify-center w-full">
                <div class="bg-primary text-text-white rounded-[12px] py-[20px] md:py-[32px] px-[20px] md:px-[70px] flex flex-col items-center">
                    <div class="flex items-center gap-[4px]">
                        <span class="text-[36px] md:text-[48px] font-[600]">30K</span>
                        <span class="text-[32px] font-[600] ">+</span>
                    </div>
                    <p class="text-[20px] md:text-[24px] font-[500] text-center">
                        İşə götürülmə sayı
                    </p>
                </div>
            </div>
            <div class="flex justify-end">
                <div class="bg-primary rounded-[12px] py-[8px] md:py-[24px] px-[32px] flex items-center gap-[12px]">
                    {% include "components/ui/icons/Checkmark.html" %}
                    <span class="md:text-[32px] leading-[40px] font-[600] tracking-wider text-text-white ">100% Güvənilir</span>
                </div>
            </div>
        </div>
        <div class="space-y-[8px] md:space-y-[24px]">
          <!-- Card 1 -->
          <div class="bg-secondary border border-borderDefault dark:bg-secondary-dark rounded-[20px] px-[9.5px] py-[16px] md:px-[16px] md:py-[24px] flex items-center gap-[16px]">
            <span class="text-primary font-[500] text-[24px] leading-[36px]">01</span>
            <p class="text-[12px] md:text-[20px] leading-[16px] md:leading-[28px] font-[500] text-text-black dark:text-text-dark-black">Freelancerlər öz iş saatlarını və layihələrini seçərək, rahat bir iş mühiti yaradırlar</p>
          </div>
          <!-- Card 2 -->
          <div class="bg-secondary border border-borderDefault dark:bg-secondary-dark rounded-[20px] px-[9.5px] py-[16px] md:px-[16px] md:py-[24px] flex items-center gap-[16px]">
            <span class="text-primary font-[500] text-[24px] leading-[36px]">02</span>
            <p class="text-[12px] md:text-[20px] leading-[16px] md:leading-[28px] font-[500] text-text-black dark:text-text-dark-black">Freelancerlər öz iş saatlarını və layihələrini seçərək, rahat bir iş mühiti yaradırlar</p>
          </div>
          <!-- Card 3 -->
          <div class="bg-secondary border border-borderDefault dark:bg-secondary-dark rounded-[20px] px-[9.5px] py-[16px] md:px-[16px] md:py-[24px] flex items-center gap-[16px]">
            <span class="text-primary font-[500] text-[24px] leading-[36px]">03</span>
            <p class="text-[12px] md:text-[20px] leading-[16px] md:leading-[28px] font-[500] text-text-black dark:text-text-dark-black">Freelancerlər öz iş saatlarını və layihələrini seçərək, rahat bir iş mühiti yaradırlar</p>
          </div>
          <!-- Card 4 -->
          <div class="bg-secondary border border-borderDefault dark:bg-secondary-dark rounded-[20px] px-[9.5px] py-[16px] md:px-[16px] md:py-[24px] flex items-center gap-[16px]">
            <span class="text-primary font-[500] text-[24px] leading-[36px]">04</span>
            <p class="text-[12px] md:text-[20px] leading-[16px] md:leading-[28px] font-[500] text-text-black dark:text-text-dark-black">Freelancerlər öz iş saatlarını və layihələrini seçərək, rahat bir iş mühiti yaradırlar</p>
          </div>
        </div>
      </div>
</section>