{% load static %}

<section class="md:mt-[48px] custom-container grid  md:grid-cols-2 gap-[40px] md:gap-[128px]">
    <div class="flex w-full items-center mt-[24px] md:mt-0">
        <div class="w-full">
            <h2 class="text-[24px] md:text-[48px]  font-[600] leading:[32px] md:leading-[56px] text-text-black dark:text-text-dark-black">Haqqımızda</h2>
            <p class="text-[12px] md:text-[22px] font-[400]  mt-[20px] leading-[16px] md:leading-[36px] text-text-gray dark:text-text-dark-black">{{about_us.description}}</p>
        </div>
    </div>
    <div class="flex items-center justify-center md:justify-end">
        <img class="object-cover h-[230px] md:h-[496px]" src="{% static "images/grid.png" %}" alt="Hero">
    </div>
</section>
