<section class="custom-container mt-[160px]">
    {% include "components/common/section_header/SectionHeader.html" with title="Freelanserlər" link_title="Daha çox" link_href="#" %}
    <div class="grid grid-cols-4 gap-y-[36px] gap-x-[24px] mt-[48px]">
      {% include "components/common/team/TeamItem.html" %}
      {% include "components/common/team/TeamItem.html" %}
      {% include "components/common/team/TeamItem.html" %}
      {% include "components/common/team/TeamItem.html" %}
      {% include "components/common/team/TeamItem.html" %}
      {% include "components/common/team/TeamItem.html" %}
      {% include "components/common/team/TeamItem.html" %}
      {% include "components/common/team/TeamItem.html" %}
    </div>
</section>