{% load static %}
<div class="h-[562px] flex flex-col border border-borderDefault bg-secondary rounded-[20px] px-[16px] py-[32px]">
    <div>
        <img class="h-[310px] w-full object-cover rounded-[12px]" src="{% static "images/grid.png" %}" alt="">
    </div>
    <div class="mt-[20px]">
        <h3 class="text-text-black text-[22px] font-[500] leading-[28px]">Fəal Dizayn: İstifadəçi Təcrübəsinin Yüksəldilməsi </h3>
        <p class="mt-[12px] text-text-gray text-[14px]  leading-[20px]">Bu yazıda, istifadəçi mərkəzli dizayn prinsipləri və tətbiq etmə yolları ilə bağlı ipuçları verəcəyik.</p>
    </div>
    <div class="flex-grow flex items-end justify-between">
        <span class="text-text-black">13 avqust 2024</span>
        <a href="#" class="text-[20px] font-[500] text-text-black">Daha çox</a>
    </div>
</div>