<section class="mt-[88px] md:mt-[200px] custom-container">
    <div class="flex items-center justify-between">
        <h3 class="text-[36px] leading-[44px] text-text-black dark:text-text-dark-black font-[600]">Frilanserlərimiz</h3>
        <button class="flex items-center gap-[12px] bg-white border border-borderDefault py-[12px] px-[22px] rounded-[24px]">
            {% include "components/ui/icons/Filter.html" %}
            <span class="text-[24px] font-[500]">Filterlə</span>
        </button>
    </div>
    <div class="mt-[46px] grid grid-cols-2 gap-[24px]">
        {% include "components/common/freelancer/FreelancerItem.html" %}

        {% include "components/common/freelancer/FreelancerItem.html" %}

        {% include "components/common/freelancer/FreelancerItem.html" %}

        {% include "components/common/freelancer/FreelancerItem.html" %}
    </div>
</section>