<section class="h-[calc(100vh-87px)] custom-container grid grid-cols-2 gap-[24px] place-items-center">
    <div>
        <h2 class="text-[40px] leading-[48px] font-[500] text-text-black dark:text-text-dark-black">Peşəkar frilanserlər və işəgötürənlər üçün platform</h2>
        <p class="text-[22px] mt-[20px] leading-[36px] text-text-black dark:text-text-dark-black">
            Dizayn yaratmaq indi daha asandır. Alətlərimiz və şablonlarımızla istədiyiniz layihələri həyata keçirin.
        </p>
        <div class="relative mt-[24px]">
            <button class="bg-primary font-[500] w-[125px] h-[52px] rounded-[20px]">Frilanser ol</button>
            <a class="absolute top-0 left-[109px] w-[52px] h-[52px] border border-text-black rounded-full bg-[#FBF9F1] hover:bg-[#d1cdbe] transition-all grid place-items-center" href="">
                {% include "components/ui/icons/AxesTopRight.html" %}
            </a>
        </div>
    </div>
    <div>
        <img class="rounded-[22px]" src="https://s3-alpha-sig.figma.com/img/23b5/577d/bd917e50ddb5b1fa765773108d44c859?Expires=1728864000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HQXO8llLDwVmkEKv2EbiM9mOrW~h9P-qI91jgF7R30TnBoAFYkcH~5MIvq1LIOnV1~Jy6M~6KH-qEKOXRQBWvb~niGVT91EWsl1sA5bfiLGMKojW3wI2OGI0uqu2dy1c43WU4W7Dalx4OPEQDbTymkAzeY07ohMmREAGabLlhIimD5AkvW~ci6uo7kOFJnJPRS32EVQLp3rYEYwFzGTJVio1lsRnYoNtAQ~RXpkvJqAgxWu4Rz1A3PV2eyYfejD4hLIjYILXRwFkaHk4RLT4yPqprcRIlHQwQsM-qIXkVQB22NX0weGHNGc2FrqIswkPq3Vye31CZVRKUBzpOBIbWw__" alt="">
    </div>
</section>
