<section class="custom-container mt-[160px]">
    <h4 class="text-[36px] leading-[44px] text-text-black dark:text-text-dark-black font-[600]">Servislərimiz</h4>
    <h6 class="text-[24px] font-[500] mt-[32px]">Plan: </h6>
    <div class="mt-[31px] grid grid-cols-2 gap-[24px]">
        <div>
          <ul class="bg-white space-y-[24px] border border-borderDefault rounded-[24px] p-[28px]">
            <li class="text-[20px] leading-[28px]">
              <span class="text-primary font-[600]">Freelancing-ə giriş:</span>
              <span>Freelancing-in təsviri, üstünlükləri və təqdim olunan xidmət növləri.</span>
            </li>
            <li class="text-[20px] leading-[28px]">
              <span class="text-primary font-[600]">Freelancing-ə giriş:</span>
              <span>Freelancing-in təsviri, üstünlükləri və təqdim olunan xidmət növləri.</span>
            </li>
            <li class="text-[20px] leading-[28px]">
              <span class="text-primary font-[600]">Freelancing-ə giriş:</span>
              <span>Freelancing-in təsviri, üstünlükləri və təqdim olunan xidmət növləri.</span>
            </li>
            <li class="text-[20px] leading-[28px]">
              <span class="text-primary font-[600]">Freelancing-ə giriş:</span>
              <span>Freelancing-in təsviri, üstünlükləri və təqdim olunan xidmət növləri.</span>
            </li>
            <li class="text-[20px] leading-[28px]">
              <span class="text-primary font-[600]">Freelancing-ə giriş:</span>
              <span>Freelancing-in təsviri, üstünlükləri və təqdim olunan xidmət növləri.</span>
            </li>
            <li class="text-[20px] leading-[28px]">
              <span class="text-primary font-[600]">Freelancing-ə giriş:</span>
              <span>Freelancing-in təsviri, üstünlükləri və təqdim olunan xidmət növləri.</span>
            </li>
          </ul>   
        </div>
        
        <div class="flex justify-end gap-[45px]">
          <div class="flex items-center">
            <img  class="shadow-[12px_8px_0_#131313] w-[200px] h-[200px] rounded-[22px] object-cover" src="https://s3-alpha-sig.figma.com/img/2b3c/2ba9/074bfef58ffb3c0153ba0b2580dfcee2?Expires=1728864000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=O7omzPM06A~ExhXZHx1MPyetwB3UtxzWYrE42sROO-iJL22hzZKvQPinVxSsZN1MMiWu-z6vlyqprczndP-sxRKtNACmkmLa5-ESaHEeq897RctqgyDBW9B1u0Xzmg66HsYkGVNG38uMiZxVTATPkK9pI8PnjQ2kyR8-YotykcScUr0Nk18tP97p856MMKhn9648q6Y1IIMK7jJC3tFhuaycqvT9sGEMyFmv9GlQfBAG7ZsrnnM-OXSsZh0Fa8FLq~jPW8rZ-64gEmbkeGEh952vV9tDpjoNJ0YHbmcWILZVQNzjuiZKLtEf7kMQ~DzVOuaXU~OGnjtYFVNLyLDqSQ__" alt="Person 2" >
          </div>
          <div class="flex flex-col items-end justify-between">
            <img class="w-[150px] h-[150px] rounded-[22px] object-cover" src="https://s3-alpha-sig.figma.com/img/89b6/1667/24804ef6c04cd16ce244b9d46382c8b1?Expires=1728864000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=VymGRiTv3z83YlZM3zw9NIO8lIRsh67uZxe4XiK8hPDKJ2Or47IgcLyHIBPUN1qGwb5sDB~n1uUj7OqhP4oWrhRjeQR0DNe8aMlI1iY~7LPOQDyVd~C03ArhZDstfhT-LYOYdhPMr~F9f90aUljDWakXewH1NvPd4flpokEH53aWWDR3zHz6iGggbN-ZwVNBPbHQA3elMEea7cirrxlv4~Ory7njQbeUDmW4nqjKeRk7UjjJxa1A77uSSypkQ8qbXvjrrRaf8tfUgAA-44~mhsHF3SKZisHXpWUETbUDdgmhhwI05NkJtYvLYHE96KzttdfhMoHV45Xeyt6zNTRQcA__" alt="Person 1">
            <img class="shadow-[14px_8px_0_#131313] w-[236px] h-[236px] rounded-[22px] object-cover" src="https://s3-alpha-sig.figma.com/img/6e54/decf/9cbfba30243699452c53679465b82abd?Expires=1728864000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=CMlMnCyEJkhyol23qwI4xBjo3TUe75iiUJLcDdkLDpkxw5JTGfeK4azpH6fLwy1yGZYoph3YobCGg9bi1lTKYxaPte5P-QbwcU2Wa5quaUYOFuM65-QlNlSB~K1odBZIxn7cwernasY79xbO6cYuiFrCEdkhzFFQ-4Xm50o7zhHgFPdy5tsoBYj1TPS2axQxx7~5pmLd1DitaAicg1iCBFFiiwdsXxHivYbZQ5i27Zbc2q1mYugmTWbOf7AxEV9xox1yerdSv6GEPCvC-~xUwTIZXYZL1lWwHsN6LVEOELLZf6gDnU8sJlElfU6oY2MIojRDrG97AQaaWGT0ra9e4A__" alt="Person 3"> 
          </div>
        </div>
    </div>
</section>
