{% load static %}

<section class="custom-container mt-[200px]">
    <h4 class="text-[36px] leading-[44px] text-text-black dark:text-text-dark-black font-[600]">Servislərimiz</h4>
    <div class="mt-[64px] grid grid-cols-2 gap-[24px]">
        <div>
          <ul class="bg-white space-y-[24px] border border-borderDefault rounded-[24px] p-[28px]">
            <li class="text-[20px] leading-[28px]">
              <span class="text-primary font-[600]">Freelancing-ə giriş:</span>
              <span>Freelancing-in təsviri, üstünlükləri və təqdim olunan xidmət növləri.</span>
            </li>
            <li class="text-[20px] leading-[28px]">
              <span class="text-primary font-[600]">Freelancing-ə giriş:</span>
              <span>Freelancing-in təsviri, üstünlükləri və təqdim olunan xidmət növləri.</span>
            </li>
            <li class="text-[20px] leading-[28px]">
              <span class="text-primary font-[600]">Freelancing-ə giriş:</span>
              <span>Freelancing-in təsviri, üstünlükləri və təqdim olunan xidmət növləri.</span>
            </li>
            <li class="text-[20px] leading-[28px]">
              <span class="text-primary font-[600]">Freelancing-ə giriş:</span>
              <span>Freelancing-in təsviri, üstünlükləri və təqdim olunan xidmət növləri.</span>
            </li>
            <li class="text-[20px] leading-[28px]">
              <span class="text-primary font-[600]">Freelancing-ə giriş:</span>
              <span>Freelancing-in təsviri, üstünlükləri və təqdim olunan xidmət növləri.</span>
            </li>
            <li class="text-[20px] leading-[28px]">
              <span class="text-primary font-[600]">Freelancing-ə giriş:</span>
              <span>Freelancing-in təsviri, üstünlükləri və təqdim olunan xidmət növləri.</span>
            </li>
          </ul>   
        </div>
        
        <div class="flex justify-end gap-[45px]">
          <div class="flex items-center">
            <img  class="shadow-[12px_8px_0_#131313] w-[200px] h-[200px] rounded-[22px] object-cover" src="{% static "images/grid.png" %}" alt="Person 2" >
          </div>
          <div class="flex flex-col items-end justify-between">
            <img class="w-[150px] h-[150px] rounded-[22px] object-cover" src="{% static "images/grid.png" %}" alt="Person 1">
            <img class="shadow-[14px_8px_0_#131313] w-[236px] h-[236px] rounded-[22px] object-cover" src="{% static "images/grid.png" %}" alt="Person 3"> 
          </div>
        </div>
    </div>
</section>
